@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #0f1a2c;
  --secondary-color: #f6ac0f;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 2000;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  z-index: 1;
}

.section__subheader {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.section__header {
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.section__description {
  margin-top: 1rem;
  color: rgb(255, 255, 255);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.section__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__nav span {
  padding: 10px 15px;
  font-size: 1.25rem;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.section__nav span:hover {
  background-color: var(--secondary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color:#000000;
  letter-spacing: 2px;
  z-index: 100;
}

.logo div {
  padding-inline: 12px;
  font-size: 2rem;
}

img,
video {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
 
}

.section__container,
.header,
.booking,
.about,
.room__container,
.intro,
.feature__container,
.menu,
.news__container,
.footer {
  position: relative;
  z-index: 1; 
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  justify-content: space-between;
  background-color:#ffffff;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}
.nav__bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgb(199, 199, 199);
  width: 100%;
  z-index: 1000;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#ffffff;
  z-index: 1000;
}

.nav__menu__btn {
  display: none;
}

.nav__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

.nav__links li {
  margin: 0 15px;
}

.nav__links a:hover {
  color: #ffae00;
}

.header {
  padding-block: 5rem;
  background-image: linear-gradient(
      rgba(15, 26, 44, 0.5),
      rgba(15, 26, 44, 0.5)
    ),
    url("assets/header.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container .section__subheader {
  color: var(--white);
  z-index: 1;
}

.header__container h1 {
  margin-bottom: 2rem;
  font-size: 6rem;
  font-weight: 800;
  line-height: 7rem;
  font-family: var(--header-font);
  color: var(--white);
  z-index: 1;
}

.booking {
  background-color: var(--primary-color);
}

.booking__container form {
  max-width: 350px;
  margin: auto;
  display: grid;
  gap: 2rem;
  z-index: 1;
}



.about {
  position: relative;
  isolation: isolate;
  z-index: 1;
}

.about::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  height: 75%;
  width: 100%;
  background-image: url("assets/about-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.05;
}

.about__container {
  display: grid;
  gap: 4rem 2rem;
}
